
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Section start -->


<div class="section">
    <h2>Hệ thống quản lý dạng bảng</h2>

    <div class="section_input">

        <div class="section_input_row">
            <p>Mã định danh cá nhân</p>
            <input type="text">
        </div>

        <div class="section_input_row">
            <p>Ngày tháng yêu cầu</p>
            <input type="text">
        </div>

        <div class="section_input_row">
            <p>Thông tin lưu trú</p>
            <input type="text">
        </div>
    </div>

    <div class="section_input">

        <div class="section_input_row">
            <p>CCCD</p>
            <input type="text">
        </div>

        <div class="section_input_row">
            <p>ANTT</p>
            <input type="text">
        </div>

        <div class="section_input_row">
            <p>BT Hệ thống quản lý</p>
            <input type="text">
        </div>
    </div>

    <div class="section_input">

        <div class="section_input_row">
            <p>Bảng BHYT</p>
            <input type="text">
        </div>

        <div class="section_input_row">
            <p>NP thuộc</p>
            <input type="text">
        </div>

        <div class="section_input_row">
            <p>Đăng ký xe</p>
            <input type="text">
        </div>
    </div>

    <div class="section_input s_one">

        <div class="section_input_row">
            <p>Giấy phép lái xe</p>
            <input type="text">
        </div>
    </div>

    <div class="section_button">
        <div class="section_click">
            <button id="editButton">Chỉnh sửa</button>
            <button id="addButton">Thêm</button>
            <button id="deleteButton">Xóa</button>
        </div>
    </div>

    <h2>Quản lý yêu cầu</h2>

    <table>
        <thead>
            <tr>
                <th>Mã định danh cá nhân</th>
                <th>Ngày tháng yêu cầu</th>
                <th>Thông tin lưu trú</th>
                <th>CCCD</th>
                <th>ANTT</th>
                <th>BT Hệ thống quản lý</th>
                <th>Bảng BHYT</th>
                <th>NP thuộc</th>
                <th>Đăng ký xe</th>
                <th>Giấy phép lái xe</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>



    <div class="section_button">
        <div class="section_click">
            <button id="sendButton">Gửi</button>
        </div>
    </div>

</div>


<!-- Section end -->

