
@{
    ViewData["Title"] = "managers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section show">
    <h2>Bảng thông tin công nhân</h2>

    <table>
        <thead>
            <tr>
                <th>Mã định danh cá nhân</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>CCCD</th>
                <th>Dân Tộc</th>
                <th>Tôn giáo</th>
                <th>Quốc tịch</th>
                <th>Tình trạng hôn nhân</th>
                <th>Nhóm máu</th>
                <th>Nơi đăng ký khai sinh</th>
                <th>Quê quán, nơi thường trú</th>
                <th>Nơi ở hiện tại</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>

    <div class="section_button">
        <div class="section_click">
            <button id="confButton">Xác nhận</button>
        </div>
        <div class="section_click">
            <button id=""><a asp-area="" asp-controller="Home" asp-action="Index">Quay lại</a></button>
        </div>
    </div>


</div>
