<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <!-- Header start -->
    <div class="header">
        <div class="header-contanier_1">

            <div class="header-contanier_img">
                <img src="~/css/vneid-logo.png" alt="">
            </div>

            <div class="header-contanier_text">
                <div class="header-text_1">
                    <p>BỘ CÔNG AN</p>
                </div>
                <div class="header-text_2">
                    <p>TRUNG TÂM DỮ LIỆU QUỐC GIA VỀ DÂN CƯ</p>
                </div>
            </div>
        </div>

        <div class="header-contanier_2">
            <div class="header-contanier_text">
                <div class="header-text_2">
                    <p>NGUYỄN VĂN B</p>
                </div>
                <div class="header-text_2 midfine">
                    <p>Định danh mức 2</p>
                </div>
            </div>

            <div class="header-contanier_img hone">
                <img src="~/css/vneid_sympol.jpg" alt="">
            </div>


        </div>
    </div>

    <!-- Header end -->


    <div>
        @RenderBody()
    </div>


    <script src="~/js/site.js"></script>
</body>
</html>
